* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body { 
    min-height: 100vh;
    background: #000; 

}
body::before { 
    content: "";
    position: fixed;
    inset: 0;
    background: linear-gradient(120deg, #0a1d3a, #000);
    z-index: -1;
}

.navbar {
  width: 95%;
  max-width: 1700px;
  margin: 20px auto;
  padding: 14px 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(12px);

  border: 1px solid rgba(255, 255, 255, 0.35);
  border-radius: 999px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4)
}
.navbarlocation {
  position: sticky;
  top: 0;
  z-index: 9999;
  padding-top: 5px;
  height: 90px;
}

.name {
  color: white;
  font-size: 15px;
  font-weight: 600;
}

.btn {
  color: white;
  text-decoration: none;
  font-size: 13px;

  padding: 8px 18px;
  border-radius: 999px;

  display: flex;
  align-items: center;
  gap: 6px;

  background: rgba(255, 255, 255, 0.18);
  border: 1px solid rgba(255, 255, 255, 0.35);

  backdrop-filter: blur(10px);
  transition: 0.3s ease;
}

.btn:hover {
  background: rgba(0, 0, 0, 0.35);
  border: 1px solid rgba(255, 255, 255, 0.15);

  box-shadow:
    inset 0 0 0 1px rgba(0, 0, 0, 0.6),
    0 8px 30px rgba(0, 0, 0, 0.6);
}

.exebox {
  width: 90%;
  margin: 60px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.box {
  height: 130px;
  border-radius: 30px;
  border: 1px solid rgba(255,255,255,0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-size: 24px;
  transition: 0.3s;
}

.box0 {
  height: 130px;
  border-radius: 30px;
  border: 1px solid rgba(255,255,255,0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: gray;
  font-size: 24px;
  transition: 0.3s;
}
.box0:hover {
  border-color: red;
  box-shadow: 0 0 20px orange;
}

.box:hover {
  border-color: #9b5cff;
  box-shadow: 0 0 20px #9b5cff55;
}

.exercise-detail {
  text-align: center;
  margin-top: 120px;
}

@media (max-width: 480px) {
  .exebox {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .exebox {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 769px) {
  .exebox {
    grid-template-columns: repeat(4, 1fr);
  }
}
